<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chatting App</title>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/chatting.css" />
  </head>
  <body>
    <div class="window">
      <div class="header">
        <div class="person">
          <i class="far fa-id-card"></i>
        </div>
        <div class="share">
          <i class="fas fa-video"></i>
          <i class="fas fa-phone-alt"></i>
          <i class="fas fa-ellipsis-v"></i>
        </div>
      </div>
      <div class="screen"></div>
      <div class="footer">
        <div class="text-box">
          <input type="text" placeholder="Message" />
        </div>
        <div class="send">
          <button type="button"><i class="fas fa-paper-plane"></i></button>
        </div>
      </div>
    </div>
  </body>
</html>
